* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: auto;
    max-width: 1920px;
    font-family: "Rubik Mono One", monospace;
    scroll-behavior: smooth;
}

nav {
    position: fixed;
    padding: 2rem;
    display: flex;
    justify-content: end;
    right: 0;
    z-index: 1;

}

a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 1rem;
    border-radius: 50%;
    margin-left: 2rem;
    display: inline-block;
    height: 4rem;
    width: 4rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    cursor: pointer;
    box-shadow: .5px .5px 5px black;
}

section.disp {
    height: 100vh;
    position: relative;
}

.red {
    background-color: #ff0000;
    color: #ffff00;
}

.green {
    background-color: #008000;
    color: #ffff00;
}

.yellow {
    background-color: #ffff00;
    color: #008000;
}

section .disp {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    text-align: center;
}

img {
    width: 60rem;
}

h1 {
    font-size: 4rem;
}